allow hal_gnss_default init:unix_stream_socket connectto;
allow hal_gnss_default qmuxd_socket:dir { add_name write };
allow hal_gnss_default qmuxd_socket:sock_file { create setattr write };
allow hal_gnss_default sysfs:file read;
allow hal_gnss_default qmuxd_socket:dir search;
allow hal_gnss_default sysfs:file open;
